.calc-body {
	width: 250px;
	height: 600px;
	margin: auto;
	border-radius: 10px;
	background-color: rgb(183, 183, 183);
	padding-top: 20px;
}

.calc-display {
	width: 200px;
	font-size: 24px;
	text-align: right;
	font-family: Monospace;
	background-color: rgb(212, 218, 182);
	margin: auto;
	border: 1px solid black;
	border-radius: 5px;
}

.button {
	cursor: pointer;
	padding: 10px 10px;
	width: 20px;
	background-color: rgb(212, 212, 212);
	text-align: center;
	border-radius: 10%;
	margin: 10px;
	border: 1px solid black;
}

.button:hover {
	background: #fff;
	color: #648880;
}